<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviationHabits</key>
	<dict>
		<key>1p</key>
		<dict>
			<key>ODLBPathItem:/Applications/1Password.app</key>
			<integer>2</integer>
		</dict>
		<key>1pas</key>
		<dict>
			<key>ODLBPathItem:/Applications/1Password.app</key>
			<integer>1</integer>
		</dict>
		<key>activ</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Utilities/Activity Monitor.app</key>
			<integer>1</integer>
		</dict>
		<key>activit</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Utilities/Activity Monitor.app</key>
			<integer>1</integer>
		</dict>
		<key>am</key>
		<dict>
			<key>ODLBPathItem:/Applications/Amethyst.app</key>
			<integer>2</integer>
		</dict>
		<key>ame</key>
		<dict>
			<key>ODLBPathItem:/Applications/Amethyst.app</key>
			<integer>1</integer>
		</dict>
		<key>ameth</key>
		<dict>
			<key>ODLBPathItem:/Applications/Amethyst.app</key>
			<integer>1</integer>
		</dict>
		<key>appear</key>
		<dict>
			<key>LaunchBar.ODLBSystemSettingPaneItem:appearance</key>
			<integer>1</integer>
		</dict>
		<key>as</key>
		<dict>
			<key>ODLBURLItem:http://homeassistant.local:8123/lovelace/default_view</key>
			<integer>1</integer>
		</dict>
		<key>c</key>
		<dict>
			<key>ODLBEmojiCategory:EMFEmojiCategoryActivity</key>
			<integer>1</integer>
		</dict>
		<key>cal</key>
		<dict>
			<key>ODLBCategory:Calendar</key>
			<integer>1</integer>
			<key>ODLBCategory:Calendar (read-only)</key>
			<integer>2</integer>
			<key>ODLBPathItem:/System/Applications/Calendar.app</key>
			<integer>4</integer>
			<key>ODLBRuleItem:ODLBCalendarsRule</key>
			<integer>3</integer>
		</dict>
		<key>ch</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>3</integer>
			<key>ODLBPathItem:~/Applications/Claude Code URL Handler.app</key>
			<integer>1</integer>
			<key>ODLBRuleItem:ODLBHistoryRule:Google Chrome History:/Users/phil/Library/Application Support/Google/Chrome</key>
			<integer>2</integer>
		</dict>
		<key>chro</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>1</integer>
		</dict>
		<key>cla</key>
		<dict>
			<key>ODLBPathItem:/Applications/Claude.app</key>
			<integer>1</integer>
		</dict>
		<key>clean</key>
		<dict>
			<key>ODLBPathItem:/Applications/CleanShot X.app</key>
			<integer>1</integer>
		</dict>
		<key>cleanshot</key>
		<dict>
			<key>ODLBPathItem:/Applications/CleanShot X.app</key>
			<integer>1</integer>
		</dict>
		<key>cont</key>
		<dict>
			<key>ODLBCategory:Contact</key>
			<integer>1</integer>
		</dict>
		<key>contact</key>
		<dict>
			<key>ODLBCategory:Contact</key>
			<integer>2</integer>
		</dict>
		<key>cry</key>
		<dict>
			<key>ODLBEmojiItem:😭</key>
			<integer>1</integer>
		</dict>
		<key>dark</key>
		<dict>
			<key>ODLBScriptAction:at.obdev.LaunchBar.action.DarkModeOnOff</key>
			<integer>2</integer>
		</dict>
		<key>dig</key>
		<dict>
			<key>ODLBPathItem:/usr/bin/dig</key>
			<integer>1</integer>
		</dict>
		<key>down</key>
		<dict>
			<key>ODLBPathItem:~/Downloads</key>
			<integer>1</integer>
		</dict>
		<key>eiri</key>
		<dict>
			<key>ODLBContactItem:com.apple.AddressBook:2AB1D414-FEE8-47E0-B975-E71CD5DB07E3:ABPerson</key>
			<integer>1</integer>
		</dict>
		<key>em</key>
		<dict>
			<key>ODLBCategory:Emoji</key>
			<integer>1</integer>
		</dict>
		<key>emo</key>
		<dict>
			<key>ODLBCategory:Emoji</key>
			<integer>2</integer>
		</dict>
		<key>emoj</key>
		<dict>
			<key>ODLBRuleItem:ODLBEmojiRule</key>
			<integer>2</integer>
		</dict>
		<key>emoji</key>
		<dict>
			<key>ODLBRuleItem:ODLBEmojiRule</key>
			<integer>1</integer>
		</dict>
		<key>espa</key>
		<dict>
			<key>ODLBPathItem:/Applications/Espanso.app</key>
			<integer>1</integer>
		</dict>
		<key>fin</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/FindMy.app</key>
			<integer>1</integer>
		</dict>
		<key>find</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/FindMy.app</key>
			<integer>2</integer>
		</dict>
		<key>goto</key>
		<dict>
			<key>ODLBSearchTemplateItem:2BACB491-CB5F-4A04-88B5-AE180FFE62DF</key>
			<integer>1</integer>
		</dict>
		<key>home</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>2</integer>
		</dict>
		<key>homea</key>
		<dict>
			<key>ODLBURLItem:http://homeassistant.local:8123/lovelace/default_view</key>
			<integer>1</integer>
		</dict>
		<key>ia</key>
		<dict>
			<key>ODLBPathItem:/Applications/iA Writer.app</key>
			<integer>1</integer>
		</dict>
		<key>it</key>
		<dict>
			<key>ODLBPathItem:/Applications/iTerm.app</key>
			<integer>2</integer>
		</dict>
		<key>jo</key>
		<dict>
			<key>ODLBEmojiItem:😂</key>
			<integer>1</integer>
		</dict>
		<key>joy</key>
		<dict>
			<key>ODLBEmojiItem:😂</key>
			<integer>1</integer>
		</dict>
		<key>login</key>
		<dict>
			<key>LaunchBar.ODLBSystemSettingPaneItem:loginItems</key>
			<integer>2</integer>
		</dict>
		<key>loginn</key>
		<dict>
			<key>LaunchBar.ODLBSystemSettingPaneItem:loginItems</key>
			<integer>1</integer>
		</dict>
		<key>macc</key>
		<dict>
			<key>ODLBPathItem:/Applications/Maccy.app</key>
			<integer>1</integer>
		</dict>
		<key>mes</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Messages.app</key>
			<integer>2</integer>
		</dict>
		<key>mim</key>
		<dict>
			<key>ODLBPathItem:/Applications/Mimessage.app</key>
			<integer>1</integer>
		</dict>
		<key>mime</key>
		<dict>
			<key>ODLBPathItem:/Applications/Mimessage.app</key>
			<integer>2</integer>
		</dict>
		<key>net</key>
		<dict>
			<key>ODLBPathItem:/Applications/NetNewsWire.app</key>
			<integer>1</integer>
		</dict>
		<key>newtext</key>
		<dict>
			<key>ODLBServiceItem:com.apple.TextEdit - New TextEdit Window Containing Selection</key>
			<integer>1</integer>
		</dict>
		<key>note</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Notes.app</key>
			<integer>1</integer>
		</dict>
		<key>notes</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Notes.app</key>
			<integer>1</integer>
		</dict>
		<key>ob</key>
		<dict>
			<key>ODLBPathItem:/Applications/Obsidian.app</key>
			<integer>2</integer>
		</dict>
		<key>rect</key>
		<dict>
			<key>ODLBPathItem:/Applications/Rectangle.app</key>
			<integer>1</integer>
		</dict>
		<key>rem</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Reminders.app</key>
			<integer>1</integer>
		</dict>
		<key>reminders</key>
		<dict>
			<key>ODLBCalendarItem:32637A11-7641-4402-A9C3-9ADC729A6A62</key>
			<integer>1</integer>
			<key>ODLBPathItem:/System/Applications/Reminders.app</key>
			<integer>2</integer>
			<key>ODLBRuleItem:ODLBReminderListsRule</key>
			<integer>3</integer>
		</dict>
		<key>scott</key>
		<dict>
			<key>ODLBContactItem:com.apple.AddressBook:10C4D0F3-1513-43E0-B438-979FE52A8AB5:ABPerson</key>
			<integer>1</integer>
		</dict>
		<key>securi</key>
		<dict>
			<key>LaunchBar.ODLBSystemSettingPaneItem:privacy</key>
			<integer>1</integer>
		</dict>
		<key>settin</key>
		<dict>
			<key>ODLBRuleItem:ODLBPrefPanesRule</key>
			<integer>1</integer>
		</dict>
		<key>short</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Shortcuts.app</key>
			<integer>1</integer>
		</dict>
		<key>show</key>
		<dict>
			<key>ODLBWorkflowServiceItem:com.apple.services.showMap - Show Map</key>
			<integer>1</integer>
		</dict>
		<key>siri</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/Siri AI.app</key>
			<integer>1</integer>
			<key>ODLBPathItem:/System/Applications/Siri.app</key>
			<integer>3</integer>
		</dict>
		<key>snip</key>
		<dict>
			<key>ODLBCategory:Snippet</key>
			<integer>2</integer>
		</dict>
		<key>spo</key>
		<dict>
			<key>ODLBPathItem:/Applications/Spotify.app</key>
			<integer>1</integer>
		</dict>
		<key>su</key>
		<dict>
			<key>ODLBPathItem:/Applications/Sublime Text.app</key>
			<integer>1</integer>
		</dict>
		<key>sub</key>
		<dict>
			<key>ODLBPathItem:/Applications/Sublime Text.app</key>
			<integer>2</integer>
		</dict>
		<key>sys</key>
		<dict>
			<key>ODLBPathItem:/System/Applications/System Settings.app</key>
			<integer>1</integer>
		</dict>
		<key>tail</key>
		<dict>
			<key>ODLBPathItem:/Applications/Tailscale.app</key>
			<integer>1</integer>
		</dict>
		<key>test</key>
		<dict>
			<key>ODLBPathItem:/Applications/TestFlight.app</key>
			<integer>1</integer>
		</dict>
		<key>thisweek</key>
		<dict>
			<key>ODLBPathItem:~/Documents/personal/reference/This week.md</key>
			<integer>1</integer>
		</dict>
		<key>to</key>
		<dict>
			<key>ODLBPathItem:/Applications/TaskPaper.app</key>
			<integer>2</integer>
		</dict>
		<key>todo</key>
		<dict>
			<key>ODLBCalendarItem:4C9E9623-741A-7392-8893-152D10BF4E4A</key>
			<integer>2</integer>
		</dict>
		<key>van</key>
		<dict>
			<key>ODLBPathItem:/Applications/Vanilla.app</key>
			<integer>2</integer>
		</dict>
		<key>wallpap</key>
		<dict>
			<key>LaunchBar.ODLBSystemSettingPaneItem:wallpaper</key>
			<integer>1</integer>
		</dict>
		<key>wha</key>
		<dict>
			<key>ODLBPathItem:/Applications/WhatsApp.app</key>
			<integer>1</integer>
		</dict>
		<key>whitak</key>
		<dict>
			<key>ODLBContactItem:com.apple.AddressBook:9371438A-E63C-4C2D-9806-0678A9300A85:ABPerson</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>accessCountStartTimestamp</key>
	<real>806414960.85253203</real>
	<key>accessCounts</key>
	<dict>
		<key>Actions</key>
		<integer>6</integer>
		<key>ApplicationSwitching</key>
		<integer>3</integer>
		<key>Browsing</key>
		<integer>19</integer>
		<key>Calculator</key>
		<integer>2</integer>
		<key>Calendars</key>
		<integer>2</integer>
		<key>Categories</key>
		<integer>8</integer>
		<key>Contacts</key>
		<integer>1</integer>
		<key>Emoji</key>
		<integer>8</integer>
		<key>FullIndexSearch</key>
		<integer>156</integer>
		<key>InfoBrowsing</key>
		<integer>2</integer>
		<key>LaunchingApplications</key>
		<integer>73</integer>
		<key>OpenLocation</key>
		<integer>3</integer>
		<key>OpeningDocuments</key>
		<integer>3</integer>
		<key>QuickLook</key>
		<integer>3</integer>
		<key>RecentDocuments</key>
		<integer>1</integer>
		<key>Reminders</key>
		<integer>2</integer>
		<key>SearchTemplates</key>
		<integer>2</integer>
		<key>Services</key>
		<integer>2</integer>
		<key>Snippets</key>
		<integer>5</integer>
		<key>Subsearch</key>
		<integer>13</integer>
		<key>WebBookmarks</key>
		<integer>2</integer>
	</dict>
	<key>invocationStartTimestamp</key>
	<real>806414960.85253096</real>
	<key>invocationTimestamps</key>
	<array>
		<real>808598174.42629194</real>
		<real>808619807.36519599</real>
		<real>808621119.82369602</real>
		<real>808621529.33833599</real>
		<real>808705533.44768405</real>
		<real>808705898.32376599</real>
		<real>808706130.76203406</real>
		<real>808706193.82744801</real>
		<real>808710935.26907504</real>
		<real>808879658.91601205</real>
		<real>808879673.476192</real>
		<real>808879974.94995296</real>
		<real>809997192.44321096</real>
		<real>809997367.31866801</real>
		<real>809998254.55246305</real>
		<real>809999222.36036098</real>
		<real>810477587.38660395</real>
		<real>810477591.08446395</real>
		<real>810477725.29574096</real>
		<real>810478299.47198796</real>
		<real>810524235.09575105</real>
		<real>810524261.11587501</real>
		<real>810524382.23615301</real>
		<real>810526624.87108803</real>
		<real>810695544.03111994</real>
		<real>810698255.28793597</real>
		<real>810698331.43027496</real>
		<real>810698419.09341002</real>
		<real>810698575.05464303</real>
		<real>810732229.11774302</real>
		<real>810732676.09681904</real>
		<real>810732707.32930899</real>
		<real>810732919.10391796</real>
		<real>810732972.19346797</real>
		<real>810733004.90196896</real>
		<real>810733025.73566604</real>
		<real>810733042.32198906</real>
		<real>810733090.62553203</real>
		<real>810733145.163957</real>
		<real>810733153.80157304</real>
		<real>810733159.69090295</real>
		<real>810733172.79916203</real>
		<real>810733223.94662905</real>
	</array>
	<key>itemIdentifierVersion</key>
	<integer>4294967303</integer>
	<key>lastAccessTimestamps</key>
	<dict>
		<key>LaunchBar.ODLBSystemSettingPaneItem:appearance</key>
		<integer>806428823</integer>
		<key>LaunchBar.ODLBSystemSettingPaneItem:loginItems</key>
		<integer>810698334</integer>
		<key>LaunchBar.ODLBSystemSettingPaneItem:privacy</key>
		<integer>806417752</integer>
		<key>LaunchBar.ODLBSystemSettingPaneItem:wallpaper</key>
		<integer>806428766</integer>
		<key>ODLBCalendarItem:32637A11-7641-4402-A9C3-9ADC729A6A62</key>
		<integer>806417235</integer>
		<key>ODLBCalendarItem:4C9E9623-741A-7392-8893-152D10BF4E4A</key>
		<integer>806417927</integer>
		<key>ODLBCalendarItem:E6FAAA31-C104-4CB6-9F25-D3969020F164</key>
		<integer>806417997</integer>
		<key>ODLBCategory:Calendar</key>
		<integer>806417943</integer>
		<key>ODLBCategory:Calendar (read-only)</key>
		<integer>806417982</integer>
		<key>ODLBCategory:Contact</key>
		<integer>808710936</integer>
		<key>ODLBCategory:Emoji</key>
		<integer>806417807</integer>
		<key>ODLBCategory:Snippet</key>
		<integer>806423400</integer>
		<key>ODLBContactItem:com.apple.AddressBook:10C4D0F3-1513-43E0-B438-979FE52A8AB5:ABPerson</key>
		<integer>808710940</integer>
		<key>ODLBContactItem:com.apple.AddressBook:2AB1D414-FEE8-47E0-B975-E71CD5DB07E3:ABPerson</key>
		<integer>806432654</integer>
		<key>ODLBContactItem:com.apple.AddressBook:9371438A-E63C-4C2D-9806-0678A9300A85:ABPerson</key>
		<integer>806431262</integer>
		<key>ODLBEmojiCategory:EMFEmojiCategoryActivity</key>
		<integer>810733010</integer>
		<key>ODLBEmojiItem:😂</key>
		<integer>806417800</integer>
		<key>ODLBEmojiItem:😭</key>
		<integer>810733025</integer>
		<key>ODLBEmptyListItem:</key>
		<integer>806428411</integer>
		<key>ODLBPathItem:/Applications/1Password.app</key>
		<integer>809997370</integer>
		<key>ODLBPathItem:/Applications/Amethyst.app</key>
		<integer>810733173</integer>
		<key>ODLBPathItem:/Applications/Claude.app</key>
		<integer>807754183</integer>
		<key>ODLBPathItem:/Applications/CleanShot X.app</key>
		<integer>810526625</integer>
		<key>ODLBPathItem:/Applications/Espanso.app</key>
		<integer>806428541</integer>
		<key>ODLBPathItem:/Applications/Google Chrome.app</key>
		<integer>806498985</integer>
		<key>ODLBPathItem:/Applications/Maccy.app</key>
		<integer>806428538</integer>
		<key>ODLBPathItem:/Applications/Mimessage.app</key>
		<integer>806432552</integer>
		<key>ODLBPathItem:/Applications/NetNewsWire.app</key>
		<integer>808619808</integer>
		<key>ODLBPathItem:/Applications/Obsidian.app</key>
		<integer>810698575</integer>
		<key>ODLBPathItem:/Applications/Rectangle.app</key>
		<integer>806428534</integer>
		<key>ODLBPathItem:/Applications/Spotify.app</key>
		<integer>806429092</integer>
		<key>ODLBPathItem:/Applications/Sublime Text.app</key>
		<integer>810524383</integer>
		<key>ODLBPathItem:/Applications/Tailscale.app</key>
		<integer>810732229</integer>
		<key>ODLBPathItem:/Applications/TaskPaper.app</key>
		<integer>806417424</integer>
		<key>ODLBPathItem:/Applications/TestFlight.app</key>
		<integer>808879674</integer>
		<key>ODLBPathItem:/Applications/Vanilla.app</key>
		<integer>806428560</integer>
		<key>ODLBPathItem:/Applications/WhatsApp.app</key>
		<integer>808010300</integer>
		<key>ODLBPathItem:/Applications/iA Writer.app</key>
		<integer>806423798</integer>
		<key>ODLBPathItem:/Applications/iTerm.app</key>
		<integer>810732707</integer>
		<key>ODLBPathItem:/System/Applications/Calendar.app</key>
		<integer>806417995</integer>
		<key>ODLBPathItem:/System/Applications/FindMy.app</key>
		<integer>808706194</integer>
		<key>ODLBPathItem:/System/Applications/Messages.app</key>
		<integer>810733224</integer>
		<key>ODLBPathItem:/System/Applications/Notes.app</key>
		<integer>810698419</integer>
		<key>ODLBPathItem:/System/Applications/Reminders.app</key>
		<integer>806428686</integer>
		<key>ODLBPathItem:/System/Applications/Shortcuts.app</key>
		<integer>806423394</integer>
		<key>ODLBPathItem:/System/Applications/Siri AI.app</key>
		<integer>806428722</integer>
		<key>ODLBPathItem:/System/Applications/Siri.app</key>
		<integer>806428736</integer>
		<key>ODLBPathItem:/System/Applications/System Settings.app</key>
		<integer>806425626</integer>
		<key>ODLBPathItem:/System/Applications/Utilities/Activity Monitor.app</key>
		<integer>810698259</integer>
		<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
		<integer>806425131</integer>
		<key>ODLBPathItem:/usr/bin/dig</key>
		<integer>806417546</integer>
		<key>ODLBPathItem:~</key>
		<integer>806425141</integer>
		<key>ODLBPathItem:~/Applications/Claude Code URL Handler.app</key>
		<integer>806415244</integer>
		<key>ODLBPathItem:~/Documents/personal/reference/This week.md</key>
		<integer>806417643</integer>
		<key>ODLBPathItem:~/Downloads</key>
		<integer>806531481</integer>
		<key>ODLBPathItem:~/Library/Application Support/LaunchBar/Snippets/Current Date &amp; Time.txt</key>
		<integer>806423403</integer>
		<key>ODLBPostalAddressItem:210 Warren St
Apt 24C
New York NY
United States</key>
		<integer>808710967</integer>
		<key>ODLBRuleItem:ODLBCalendarsRule</key>
		<integer>806417985</integer>
		<key>ODLBRuleItem:ODLBEmojiRule</key>
		<integer>810733014</integer>
		<key>ODLBRuleItem:ODLBHistoryRule:Google Chrome History:/Users/phil/Library/Application Support/Google/Chrome</key>
		<integer>806418085</integer>
		<key>ODLBRuleItem:ODLBPrefPanesRule</key>
		<integer>806428408</integer>
		<key>ODLBRuleItem:ODLBReminderListsRule</key>
		<integer>806417245</integer>
		<key>ODLBScriptAction:at.obdev.LaunchBar.action.DarkModeOnOff</key>
		<integer>809998255</integer>
		<key>ODLBSearchTemplateItem:2BACB491-CB5F-4A04-88B5-AE180FFE62DF</key>
		<integer>806417522</integer>
		<key>ODLBServiceItem:com.apple.TextEdit - New TextEdit Window Containing Selection</key>
		<integer>806418297</integer>
		<key>ODLBURLItem:http://homeassistant.local:8123/lovelace/default_view</key>
		<integer>806418376</integer>
		<key>ODLBWorkflowServiceItem:com.apple.services.showMap - Show Map</key>
		<integer>806416847</integer>
	</dict>
	<key>objectHabits</key>
	<dict>
		<key>LaunchBar.ODLBSystemSettingPaneItem:appearance</key>
		<integer>1</integer>
		<key>LaunchBar.ODLBSystemSettingPaneItem:loginItems</key>
		<integer>3</integer>
		<key>LaunchBar.ODLBSystemSettingPaneItem:privacy</key>
		<integer>1</integer>
		<key>LaunchBar.ODLBSystemSettingPaneItem:wallpaper</key>
		<integer>1</integer>
		<key>ODLBCalendarItem:32637A11-7641-4402-A9C3-9ADC729A6A62</key>
		<integer>1</integer>
		<key>ODLBCalendarItem:4C9E9623-741A-7392-8893-152D10BF4E4A</key>
		<integer>2</integer>
		<key>ODLBCalendarItem:E6FAAA31-C104-4CB6-9F25-D3969020F164</key>
		<integer>2</integer>
		<key>ODLBCategory:Calendar</key>
		<integer>1</integer>
		<key>ODLBCategory:Calendar (read-only)</key>
		<integer>1</integer>
		<key>ODLBCategory:Contact</key>
		<integer>3</integer>
		<key>ODLBCategory:Emoji</key>
		<integer>3</integer>
		<key>ODLBCategory:Snippet</key>
		<integer>3</integer>
		<key>ODLBContactItem:com.apple.AddressBook:10C4D0F3-1513-43E0-B438-979FE52A8AB5:ABPerson</key>
		<integer>1</integer>
		<key>ODLBContactItem:com.apple.AddressBook:2AB1D414-FEE8-47E0-B975-E71CD5DB07E3:ABPerson</key>
		<integer>1</integer>
		<key>ODLBContactItem:com.apple.AddressBook:9371438A-E63C-4C2D-9806-0678A9300A85:ABPerson</key>
		<integer>1</integer>
		<key>ODLBEmojiCategory:EMFEmojiCategoryActivity</key>
		<integer>1</integer>
		<key>ODLBEmojiItem:😂</key>
		<integer>2</integer>
		<key>ODLBEmojiItem:😭</key>
		<integer>2</integer>
		<key>ODLBEmptyListItem:</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/1Password.app</key>
		<integer>5</integer>
		<key>ODLBPathItem:/Applications/Amethyst.app</key>
		<integer>5</integer>
		<key>ODLBPathItem:/Applications/Claude.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/CleanShot X.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Espanso.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Google Chrome.app</key>
		<integer>6</integer>
		<key>ODLBPathItem:/Applications/Maccy.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Mimessage.app</key>
		<integer>4</integer>
		<key>ODLBPathItem:/Applications/NetNewsWire.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Obsidian.app</key>
		<integer>8</integer>
		<key>ODLBPathItem:/Applications/Rectangle.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Spotify.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Sublime Text.app</key>
		<integer>7</integer>
		<key>ODLBPathItem:/Applications/Tailscale.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/TaskPaper.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/TestFlight.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Vanilla.app</key>
		<integer>3</integer>
		<key>ODLBPathItem:/Applications/WhatsApp.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/iA Writer.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/iTerm.app</key>
		<integer>8</integer>
		<key>ODLBPathItem:/System/Applications/Calendar.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/System/Applications/FindMy.app</key>
		<integer>4</integer>
		<key>ODLBPathItem:/System/Applications/Messages.app</key>
		<integer>4</integer>
		<key>ODLBPathItem:/System/Applications/Notes.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/System/Applications/Reminders.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/System/Applications/Shortcuts.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/System/Applications/Siri AI.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/System/Applications/Siri.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/System/Applications/System Settings.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/System/Applications/Utilities/Activity Monitor.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/usr/bin/dig</key>
		<integer>1</integer>
		<key>ODLBPathItem:~</key>
		<integer>1</integer>
		<key>ODLBPathItem:~/Applications/Claude Code URL Handler.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:~/Documents/personal/reference/This week.md</key>
		<integer>1</integer>
		<key>ODLBPathItem:~/Downloads</key>
		<integer>1</integer>
		<key>ODLBPathItem:~/Library/Application Support/LaunchBar/Snippets/Current Date &amp; Time.txt</key>
		<integer>5</integer>
		<key>ODLBPostalAddressItem:210 Warren St
Apt 24C
New York NY
United States</key>
		<integer>1</integer>
		<key>ODLBRuleItem:ODLBCalendarsRule</key>
		<integer>1</integer>
		<key>ODLBRuleItem:ODLBEmojiRule</key>
		<integer>4</integer>
		<key>ODLBRuleItem:ODLBHistoryRule:Google Chrome History:/Users/phil/Library/Application Support/Google/Chrome</key>
		<integer>1</integer>
		<key>ODLBRuleItem:ODLBPrefPanesRule</key>
		<integer>1</integer>
		<key>ODLBRuleItem:ODLBReminderListsRule</key>
		<integer>1</integer>
		<key>ODLBScriptAction:at.obdev.LaunchBar.action.DarkModeOnOff</key>
		<integer>6</integer>
		<key>ODLBSearchTemplateItem:2BACB491-CB5F-4A04-88B5-AE180FFE62DF</key>
		<integer>2</integer>
		<key>ODLBServiceItem:com.apple.TextEdit - New TextEdit Window Containing Selection</key>
		<integer>1</integer>
		<key>ODLBURLItem:http://homeassistant.local:8123/lovelace/default_view</key>
		<integer>2</integer>
		<key>ODLBWorkflowServiceItem:com.apple.services.showMap - Show Map</key>
		<integer>1</integer>
	</dict>
	<key>preferredSendToTargets</key>
	<dict/>
	<key>totalInvocationCount</key>
	<integer>165</integer>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
